/* Copyright © 2017 David DeSandro
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 */

.container {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    right: 50px;
    margin: 0 auto;
    perspective: 750px;
}

.cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 500ms;
    transform: rotateY(35deg) rotateZ(5deg) rotateX(45deg);
    margin: 0;
}

.cube figure {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    font-family: monospace;
    color: black;
    text-align: center;
    margin: 0;
    background: #cccccc;
    transition: opacity 500ms;
}

/*.cube.panels-backface-invisible figure {
    backface-visibility: hidden;
}*/

.cube figure:nth-child(0n+1) {
    background: rgba(255, 0, 0, 0.5);
    transform: rotateX(0deg) translateZ(50px);
    /* X move */
}
.cube figure:nth-child(0n+2) {
    background: rgba(0, 255, 0, 0.5);
    transform: rotateY(-90deg) translateZ(50px);
    /* Y move */
}
.cube figure:nth-child(0n+3) {
    background: rgba(0, 0, 255, 0.5);
    transform: rotateX(  -90deg ) translateZ(50px);
    /* Z move */
}
.cube figure:nth-child(0n+4) {
    transform: rotateX(-180deg) translateZ(50px);
    /* X back */
}
.cube figure:nth-child(0n+5) {
    transform: rotateY(   90deg ) translateZ(50px);
    /* Y back */
}
.cube figure:nth-child(0n+6) {
    transform: rotateX(   90deg ) translateZ(50px);
    /* Z back */
}

.cube figure:nth-child(0n+1):after { content: "x"; }
.cube figure:nth-child(0n+2):after { content: "y"; }
.cube figure:nth-child(0n+3):after { content: "z"; }

.cube.x figure:nth-child(0n+2),
.cube.x figure:nth-child(0n+3),
.cube.y figure:nth-child(0n+1),
.cube.y figure:nth-child(0n+3),
.cube.z figure:nth-child(0n+1),
.cube.z figure:nth-child(0n+2) {
    opacity: 0.3;
}
