body {
    background: black;
    margin: 0;
    padding: 0;
}

canvas {
    background: black;
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    margin: 0 auto;
    padding: 0;
    display: block;
}

.navigator {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em;
    padding: 0.1em 0.2em;
    background: #cccccc;
    border-radius: 4px;
}

input[type="range"] {
    display: block;
}
